.content-section {
  width: 1170px;
  max-width: 100%;
  margin: 120px auto;

  .content-wrap {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
  }
}