.content-section {
  margin: 120px 0;

  .content-wrap {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
  }
}