.footer-top {


  h4 {
    font-size: 20px;
    line-height: 45px;
    color: $gray;
  }

  a {
    color: $light;
    font-size: $small-text-size;
    line-height: 45px;
    text-decoration: none;
    display: block;
  }
}