/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (max-width: 1280px) {
  .banar-section {
    .title {
      h2 {
        font-size: 30px !important;
        margin-bottom: 10px !important;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 0;
      }
    }
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {



  .footer-top .sign-up .social-wrap .social a {
    margin-right: 20px;
  }

  .service-wrap {
    .service-item {
      width: calc(50% - 30px) !important;
    }

    h4 {
      font-size: 18px;
    }
  }

  .banar-section {
    .title {
      h2 {
        font-size: 20px !important;
        line-height: 22px;
      }

      p {
        font-size: 14px;
        line-height: 16px;
      }

      .btn-free {
        padding: 10px 40px;
        margin-top: 10px;
      }
    }
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 991px) {

  .menu-bar {
    display: block;
    margin-right: 10px;
  }

  .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    left: -9999999999%;
    top: 67px;
    background-color: #fff;
    z-index: 9;
    height: 100vh;
    text-align: center;

    ul {
      padding: 20px !important;

      li {
        display: block !important;
        padding: 10px 0 !important;
      }
    }
  }

  .show {
    left: 0;
  }

  .footer-section .footer-content .sign-up .social-wrap .social a {
    margin-right: 20px;
  }


}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {

  .hero-section {

    .title {
      h2 {
        font-size: 26px;
        line-height: 14px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .service-section {
    margin: 50px auto;
  }

  .banar-section {
    margin-bottom: 50px;

    figure {
      img {
        height: 180px;
      }
    }

    .title {

      h2 {
        margin-bottom: 10px !important;
        font-size: 18px !important;
        line-height: 20px;
      }

      p {
        font-size: 14px;
        line-height: 16px;
      }

      .btn-free {
        margin-top: 10px !important;
        padding: 10px 0;
      }

    }
  }

  .sign-up {
    margin: 50px 0;
  }

  .footer-section .footer-content .sign-up .social-wrap .social {
    justify-content: center !important;
  }

  .copy-right {
    margin-top: 0 !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 576px) {

  .hero-section {
    .title {

      h2 {
        font-size: 22px;
        line-height: 15px;
        margin-bottom: 16px;
      }

      p {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  .banar-section {
    .title {

      h2 {
        font-size: 16px !important;
        line-height: 18px !important;
        margin-bottom: 10px !important;
      }

      p {
        font-size: 14px !important;
        line-height: 16px !important;
      }
    }
  }

  .footer-top {
    .footer-item {
      margin-bottom: 50px !important;

      h4 {
        line-height: 10px !important;
      }

      a {
        line-height: 22px !important;
      }
    }
  }

  form {
    margin: 25px 0;
  }

  .sign-up {
    margin: 0 0 25px;

    h4 {
      text-align: center;
      margin: 0;
    }

    .social-wrap {
      h4 {
        margin: 20px;
      }
    }
  }



}

@media (max-width: 480px) {
  .hero-section {
    .title {

      h2 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  .banar-section {
    .title {

      h2 {
        font-size: 15px !important;
        line-height: 15px !important;
        margin-bottom: 10px !important;
      }

      p {
        font-size: 12px !important;
        line-height: 13px !important;
      }

      .btn-free {
        margin-top: 0 !important;
        padding: 7px 0;
        margin-top: 5px !important;
      }
    }
  }

  .section-wrap {
    .section-item {
      width: 100% !important;
      min-height: 300px;
      padding: 20px;
    }
  }

  .footer-section {
    .footer-content a {
      font-size: 13px !important;
      line-height: 35px !important;
    }

    .copy-right p {
      font-size: 13px !important;
    }
  }
}