/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (max-width: 1280px) {
  .banar-bottom {
    .title {
      h2 {
        font-size: 32px !important;
      }
    }
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {
  .main-header .main-menu ul li {
    padding: 0 9px !important;
  }


  .footer-top .sign-up .social-wrap .social a {
    margin-right: 20px;
  }

  .content-wrap {
    .content-item {
      width: calc(50% - 30px) !important;
    }

    h4 {
      font-size: 18px;
    }
  }

  .banar-bottom {
    .title {
      h2 {
        font-size: 24px !important;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 768px) {
  .main-header {
    .btn-free {
      margin-left: auto;
      display: none;
    }

    .main-menu {
      display: none !important;
    }



    .button {
      display: block;
      margin-left: auto;
    }
  }

  .banar-section {
    height: 250px;

    .title {
      h2 {
        font-size: 30px;
        line-height: 20px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .content-section {
    margin: 50px auto;
  }

  .banar-bottom {
    margin-bottom: 50px;

    .title {
      h2 {
        margin-bottom: 15px !important;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }

      .btn-free {
        margin-top: 0 !important;
      }

    }
  }

  .sign-up {
    margin: 50px 0;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 576px) {

  .banar-section {
    .title {
      h2 {
        font-size: 26px;
        line-height: 20px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .footer-top {
    .footer-item {
      margin-bottom: 50px !important;

      h4 {
        line-height: 10px !important;
      }

      a {
        line-height: 22px !important;
      }
    }
  }

  form {
    margin: 25px 0;
  }

  .sign-up {
    margin: 0 0 25px;

    h4 {
      text-align: center;
      margin: 0;
    }

    .social-wrap {
      h4 {
        margin: 20px;
      }
    }
  }



}

@media (max-width: 480px) {
  .banar-section {
    .title {
      h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
      }

      p {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  .content-wrap {
    .content-item {
      width: 100% !important;
      min-height: 300px;
      padding: 20px;
    }
  }

  .banar-bottom {
    .title {
      h2 {
        font-size: 22px !important;
        margin-bottom: 15px !important;
      }

      p {
        font-size: 13px;
        line-height: 20px;
      }

      .btn-free {
        margin-top: 0 !important;
        padding: 7px 40px;
      }

    }
  }
}