.banar-section {
  margin-bottom: 100px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(7, 59, 76, 12);
    opacity: 0.62;

  }

  figure {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .title {
    .btn-free {
      padding: 15px 40px;
      margin-top: 20px;
    }

  }
}