.banar-bottom {
  background-color: #54646F;
  margin-bottom: 100px;
  position: relative;

  figure {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .title {
    .btn-free {
      padding: 15px 40px;
      margin-top: 20px;
    }

  }
}