.banar-section {
  position: relative;

  figure {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      background-color: #073B4C;
      opacity: 0.9;
    }
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h2 {
    font-size: 36px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 30px;
  }

  p {
    font-size: 22px;
    line-height: 26px;
    color: #fff;

  }
}