.banar-section {
  background-image: url("/images/banar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073B4C;
  height: 400px;
  position: relative;
  background-blend-mode: overlay;


}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h2 {
    font-size: 36px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 30px;
  }

  p {
    font-size: 22px;
    line-height: 26px;
    color: #fff;

  }
}