.button {
  width: 25px;
  height: 2px;
  background: $gray;
  position: relative;
  // transform: translate(-50%, -50%);
  display: none;


  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 25px;
    height: 2px;
    background: $gray;
  }

  &::after {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 25px;
    height: 2px;
    background: $gray;
  }
}