form {
  margin: 40px 0;

  input[type="email"] {
    background-color: #F6F6F6;
    border: none;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    width: 66.66666666666667%;
  }

  input[type="submit"] {
    padding: 15px 0;
    border: none;
    background-color: #06D6A0;
    color: #fff;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    width: 33.33333333333333%;
  }

  input[type="email"],
  input[type="email"]:focus {
    outline: none;
    box-shadow: none;
  }
}